/* @import url('https://fonts.googleapis.com/css?family=Poppins');
 */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 */
 @import url('https://fonts.googleapis.com/css?family=Roboto');
 .App {
     text-align: center;
}
 .App-logo {
     height: 40vmin;
     pointer-events: none;
}
 @media (prefers-reduced-motion: no-preference) {
     .App-logo {
         animation: App-logo-spin infinite 20s linear;
    }
}
 .App-header {
     background-color: #282c34;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size: calc(10px + 2vmin);
     color: white;
}
 .App-link {
     color: #61dafb;
}
 @keyframes App-logo-spin {
     from {
         transform: rotate(0deg);
    }
     to {
         transform: rotate(360deg);
    }
}
 .tableFixHead {
     overflow: auto;
     height: 69vh;
}
 .tableFixHead thead th {
     position: sticky;
    /* display: block;
     */
     top: 0;
    /* z-index: 1;
     */
}
/* Just common table stuff. Really. */
 table {
     border-collapse: collapse;
     width: 100%;
     text-align: center;
}
 th, td {
     padding: 8px 16px;
}
 th {
     background:#eee;
}
 .btn-padding-action {
     margin: 2px;
}
 .modal-bg {
     position: relative;
     background-color: rgb(255, 255, 255);
     margin: auto;
     padding: 0;
     margin-top: 5vh;
     border: 1px solid rgb(19, 2, 2);
     width: 35vw;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
     -webkit-animation-name: animatetop;
     -webkit-animation-duration: 0.4s;
     animation-name: animatetop;
     animation-duration: 0.4s;
}
 .modal-text {
     margin-top: 2vh;
     margin-right: 2vw;
     margin-bottom: 2vh;
     margin-left: 2vw;
     background-color: rgb(255, 255, 255);
}
 .basicP {
     margin-top: 24px;
     margin-bottom: 0px;
     font-family: Poppins;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     color: #000;
}
 .containerOne {
     height: 80vh;
     width: 100%;
     text-align: center;
     margin-left: auto;
    /* margin-right: 5vw;
     */
     overflow-y: scroll;
     padding-top: 4vh;
     padding-left: 2vw;
     padding-right: 2vw;
     padding-bottom: 4vh;
}
 .textOne {
     text-align: start;
     margin-bottom: 32px;
}
 .tableOne {
     text-align: start;
}
 .tableOne p {
    /* font-family: Poppins;
     */
     font-family: Roboto;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
}
 .nav-font-custom {
     font-family: Roboto;
     font-style: normal;
     font-size: 14px;
}
 .row-modal {
     display: flex;
     margin-bottom: 8px;
}
 .tableTitle {
     margin-top: 12px;
     margin-bottom: 12px;
     color: #595862;
}
 .tableContent {
     margin-top: 12px;
     margin-bottom: 12px;
     font-weight: 600 !important;
     color: #2F3137;
     padding-left: 2vw;
}
 .search-input{
     margin-bottom: 2vh;
    /* margin-top: 2vh;
     */
    /* margin-bottom: 2vh;
     */
}
 .container-search-box{
     position:relative;
     display: block;
}
 .search-button{
     margin-left: 5px;
}
 .btn-modal{
     margin-right: 2vw;
     padding: 10px;
     text-align: center;
}
 .box-btn-modal{
     text-align: right;
}
 .box-btn-modal-detail{
     margin: 0 5px 0 5px;
}
 .pagination {
     margin: 15px auto;
     display: flex;
     list-style: none;
     outline: none;
}
 .pagination > .active > a{
     background-color: #47ccde ;
     border-color: #47ccde ;
     color: #fff;
}
 .pagination > li > a{
     border: 1px solid #47ccde ;
     padding: 5px 10px;
     outline: none;
     cursor: pointer;
}
 .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
     background-color: #47ccde ;
     border-color: #47ccde;
     outline: none ;
}
 .pagination > li > a, .pagination > li > span{
     color: #47ccde 
}
 .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
     border-radius: unset 
}
 .img-inquiry {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 100%;
     height: 100%;
    /* margin-top: 2vh;
     */
    /* margin-bottom: 2vh;
     */
}
 .btn-export{
     margin-bottom: 2vh;
}
 .img-export-excel{
     width: 10%;
     height: 10%;
     margin-right: 5px;
}
 .div-export{
     display:block;
     float: right;
     text-align: right;
}
 a,li {
     cursor: pointer;
}
 .nav-roleAdmin{
     display: flex;
     flex-direction: row;
}
 .nav-roleAdmin-logo{
     width: 30%;
     margin-top: auto;
     margin-bottom: auto;
}
 .nav-roleAdmin-user{
     margin-top: auto;
     margin-bottom: auto;
     margin-left: 10px;
     width: 50%;
     justify-content: space-around;
     display: flex;
     flex-direction: column;
}
 .user-nav{
     font-size: small;
     margin: 0;
}
 .img-nav{
     width: 70%;
     display: block;
     margin-left: auto;
     margin-right: auto;
}
 .img-signout{
     width: 4%;
     margin-right: 10px;
}
.btn-upload-doc{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.btn-upload-action{
    margin-right: 10px;
    /* margin-left: 10px; */
}
.txt-logout{
    color: #500878;
    font-family: Roboto;
    font-weight: bold;
    margin: 0;
    padding: 0;
    /* font-size: 24px; */
}
.color-icon{
    color: #733993;
}
.icon-logout-01{
    margin-right: 10px;
}
.icon-setting-01{
    margin-right: 10px;
}
.span-icon-navbar{
    margin-left: 10px;
}
.p-data-not-found{
    margin-top: auto;
    margin-bottom: auto;
}
.row-data{
    margin-top: auto;
    margin-bottom: auto;
}
.login-page {
    margin-top: 20%;
}
.export-excel-inquiry {
    margin-right: 2%;
}
.form-search{
    margin-right: 5px;
}
.input-group{
    margin-bottom: 15px;
}